body {
  background-color: #EAF6F6;
}
.image {
    float: left;
    margin-right: 20px; /* Adjust the spacing between the image and text */
}

.text {
    clear: left;
}

@media only screen and (max-width: 600px) {
    .image, .text {
        float: none;
        clear: none;
        margin-right: 0;
    }
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
